[submodule "vendor/JSONKit"]
	path = vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "vendor/MAZeroingWeakRef"]
	path = vendor/MAZeroingWeakRef
	url = https://github.com/mikeash/MAZeroingWeakRef.git
[submodule "vendor/TTTAttributedLabel.git"]
	path = vendor/TTTAttributedLabel.git
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "vendor/TTTAttributedLabel"]
	path = vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "vendor/SVProgressHUD"]
	path = vendor/SVProgressHUD
	url = git@github.com:radiospiel/SVProgressHUD.git
[submodule "vendor/iRate"]
	path = vendor/iRate
	url = https://github.com/nicklockwood/iRate.git
[submodule "vendor/YAML.framework"]
	path = vendor/YAML.framework
	url = https://github.com/mirek/YAML.framework
