[submodule "vendor/JSONKit"]
	path = vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "vendor/NSLogger"]
	path = vendor/NSLogger
	url = https://github.com/radiospiel/NSLoggerClient.git
[submodule "vendor/MAZeroingWeakRef"]
	path = vendor/MAZeroingWeakRef
	url = https://github.com/mikeash/MAZeroingWeakRef.git
[submodule "vendor/EGOTextView"]
	path = vendor/EGOTextView
	url = https://github.com/enormego/EGOTextView.git
[submodule "vendor/TTTAttributedLabel.git"]
	path = vendor/TTTAttributedLabel.git
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "vendor/TTTAttributedLabel"]
	path = vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "vendor/mixpanel-iphone"]
	path = vendor/mixpanel-iphone
	url = https://github.com/mixpanel/mixpanel-iphone.git
[submodule "vendor/SQLiteManager4iOS"]
	path = vendor/SQLiteManager4iOS
	url = https://github.com/radiospiel/SQLiteManager4iOS.git
